<p style="color: green"><%= notice %></p>
<%# <%= render @friend %>
<div class="card">
  <div class="card-header font-weight-bolder h3 text-primary">
    <p>Personal Information</p>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title h4"><%= @friend.first_name %> <%= @friend.last_name %></h5>
      <div>
        <%= link_to "Edit this friend", edit_friend_path(@friend),class:"text-success" %> |
        <%= link_to "Back to friends", friends_path,class:"text-secondary" %>
      </div>
    </div>
    <div class="card-text">
      <p>email : <%= @friend.email %></p>
      <p>phone : <%= @friend.phone %></p>
      <p>phone : <%= @friend.phone %></p>
      <p>twitter : <%= @friend.twitter %></p>
    </div>
  </div>
</div>
